<button type="button" class="btn btn-primary" onClick="addJson()" id="add_json">
	<i class="far fa-plus-square"></i>&nbsp;&nbsp;Add Json
</button>

<div class="d-flex justify-content-between mt-5">
	<di><h2><i class="far fa-list-alt"></i>&nbsp;&nbsp;Booking List</h2></di>
	<div>
		<form id="filter_frm" name="filter_frm" class="form-inline" onsubmit="event.preventDefault(); filterList();">
		  <div class="form-group mb-2">
			  <label for="filterBy" class="mr-2">Filter By</label>
			  <select class="form-control" id="filterBy" name="filterBy">
				  <option value="employee_name" selected>employee name</option>
				  <option value="event_name">event name</option>
				  <option value="event_date">date</option>
			  </select>
		  </div>
		  <div class="form-group mx-sm-3 mb-2">
			<input type="text" class="form-control" id="filterTxt" name="filterTxt" placeholder="..." required>
		  </div>
		  <div class="form-group mx-sm-3 mb-2">
			<button type="submit" class="btn btn-primary">
			<i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
		  </button>
		  </div>
		  <div class="form-group mx-sm-3 mb-2">
			<button type="button" class="btn btn-primary" onClick="resetList()">
			<i class="fas fa-undo"></i>&nbsp;&nbsp;Reset
		  </button>
		  </div>	
		</form>
	</div>
</div>

<div id="list_view_div">
	<?php include(VIEW . 'home/list' . '.phtml'); ?>
</div>
	