<?php
if(empty($booking_list)){
	$booking_list = $this->view_data['booking_list'];
}
?>

<div style="display: flex;flex-direction: row;min-height: 80vh;">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">employee name</th>
      <th scope="col">event name</th>
	  <th scope="col">event date</th>
	  <th scope="col">version</th>	
	  <th scope="col">participation fee</th>	
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
	  <?php
	  $booking_tbl = ''; $j = 0; $fee_sum = 0;
	  for($i=0;$i<count($booking_list);$i++){
		  	$j = $i+1;
		  	$item_id = $booking_list[$i]['item_id'];
		  	$employee_name = $booking_list[$i]['employee_name'];
		  	$employee_mail = $booking_list[$i]['employee_mail'];
		  	$event_id = $booking_list[$i]['event_id'];
		  	$event_name = $booking_list[$i]['event_name'];
		  	$participation_fee = $booking_list[$i]['participation_fee'];
		  	$event_date = $booking_list[$i]['event_date'];
		  	$version = $booking_list[$i]['version'];
		  
		    $fee_sum += $participation_fee;
		  
		  	$booking_tbl .= '<tr>';
		  	$booking_tbl .= '<th scope="row">'.$j.'</th>';	  
			$booking_tbl .= '<td>'.$employee_name.'</td>';  
			$booking_tbl .= '<td>'.$event_name.'</td>';  
		    $booking_tbl .= '<td>'.$event_date.'</td>'; 
		    $booking_tbl .= '<td>'.$version.'</td>'; 
		    $booking_tbl .= '<td>'.$participation_fee.'</td>';  
			$booking_tbl .= '<td>';  
		    $booking_tbl .= '<a class="list_tools" href="javascript:void(0)" class="text-inverse" title="version comparison" data-toggle="tooltip" onClick="versionComparison('.$item_id.')">';
			$booking_tbl .= '<i class="fas fa-compress-arrows-alt"></i>';
			$booking_tbl .= '</a> ';
			$booking_tbl .= '</td>';
		    $booking_tbl .= '</tr>';
	  }
	  $booking_tbl .= '<tr>';
	  $booking_tbl .= '<td colspan="5" >&nbsp;</td>';
	  $booking_tbl .= '<th colspan="2">total fee: '.$fee_sum.'</th>';
	  $booking_tbl .= '</tr>';
	  
	  echo $booking_tbl;
	  ?>
  </tbody>
</table>
</div>