/* CSS Document */
@import url("font/fontawesome-webfont.ttf");

html,body{
	margin: 0;padding: 0;
}

body{display: flex;flex-direction: column;min-height: 100vh}
.header-wrapper{height: 20%;background-color: rgba(153,193,222,1.00);}

h1{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";font-size: 28px;color: #000000; 
}

h4{
	font-family: "Trebuchet MS", Verdana, "sans-serif";color: rgba(249,114,22,1.00);font-size: 22px;
	text-align: center;margin: 5px 0 10px 0;
}
.footer{background-color: rgba(31,31,31,1.00);width: 100%;height: 100%;}
.main_content_wrapper{background: rgb(232,232,232);flex-grow: 1;}
.main_content{width: 80%;margin-right: auto;margin-left: auto;padding: 10px 0;}

