<div class="header-wrapper">
	<header class="main_content h-100">
		<div class="d-flex justify-content-between w-100 h-100">
			<div class="p-2 align-self-center">
				<h1>Event Booking</h1>
			</div>
		</div>
	</header>
</div>